// api-test.less

div.api-test {
    margin-bottom: 0.5em;
    div.card {
        overflow: hidden;
        transition: height .5s ease;
        div.card-header {
            padding: 0.5em 1em;
            cursor: pointer;
        }
    }
}
