// api-document.less

div.api-document {
    margin-bottom: 2em;
    h2.api-key {
        span.api-method-badge {
            margin-left: 0.5em;
        }
    }
    div.api-path.card {
        margin-bottom: 1em;
        div.card-body {
            padding: 0.5em 1em;
        }
    }
    div.api-tests {
    }
}
