// api-test.less
@import './utils.less';

div.api-test {
    margin-bottom: 0.5em;
    div.card {
        overflow: hidden;
        transition: height .5s ease;
        div.card-header {
            padding: 0.5em 1em;
            cursor: pointer;
        }
        div.card-body {
            table.table {
                tbody {
                    border-bottom: 1px solid #e9ecef;
                    tr {
                        th {
                            padding-left: 0.5em;
                            padding-right: 0.5em;
                            min-width: 5em;
                            background-color: lighten(#e9ecef, 5%);
                            white-space: nowrap;
                        }
                        td {
                            width: 100%; padding-left: 2em;
                            table.table { margin-bottom: 0px; }
                        }
                    }
                    tr.path td.path-content {
                        &.no-match {
                            color: @bootsrtapRed;
                            span { color: inherit; }
                        }
                        a {
                            color: black;
                            span.base-url { color: silver; }
                            span.path span.path-argument { color: @bootsrtapBlue; }
                            span.query-string {
                                span.query-value { color: @bootsrtapCyan; }
                            }
                        }
                    }
                    tr.method td {
                        &.get { color: @bootsrtapBlue; }
                        &.post { color: @bootsrtapGreen; }
                        &.put { color: @bootsrtapGreen; }
                        &.option { color: @bootsrtapCyan; }
                        &.delete { color: @bootsrtapRed; }
                    }
                    tr.headers td table.table { margin-bottom: 0px; }
                    tr.body td pre.json-pretty {
                        background-color: darkslategreen;
                        border-radius: 4px;
                        margin-bottom: 0px;
                        padding: 5px;
                    }
                }
            }
        }
    }
}
