// app.less
div#app-root {
    div.app {
        position: relative;
        min-height: 100vh;
        div.side-bar-wrapper {
            position: fixed;
            padding: 15px;
            width: 20%;
            max-height: 100vh;
            overflow: scroll;
        }
        div.content-wrapper {
            padding: 15px 15px 15px 20%;
            div.base-url-wrapper {
                position: relative;
                margin-bottom: 15px;
                a.in-site-anchor {
                    position: absolute;
                    top: -15px;
                }
            }
            div.api-documents-wrapper {
                div.api-document-wrapper {
                    position: relative;
                    a.in-site-anchor {
                        position: absolute;
                        top: -15px;
                    }
                }
            }
        }
    }
}
