// side-bar.less

div.side-bar {
    div.anchor-list {
        a.base-url-item {
            color: inherit;
            font-weight: 500;
        }
        a.api-key-item {
            color: inherit;
            span.api-method-badge {
                margin-right: 0.5em;
            }
        }
    }
}
